<div id="header">
  <%= link_to random_tape_image, root_url  %><br/>
  <%=t '.headline' %>
</div>

<div id="tape" class="pickup">
  <%= @pickup_url %>
</div>

<%= info_block %>

<div id="footer">
  <%= menu_link %>
</div>
