<div id="warning">
  <%= link_to image_tag('tampered.png', :height => 139), root_url %><br/>
  <%=t '.headline' %>
</div>

<div id="footer">
  <%=raw t('.warning') %><br/><br/>
  <%= menu_link %>
</div>

<%= info_block %>